
div {
    overflow: auto;
    box-sizing: border-box;
    width: 50%;
    border: 5px solid #de0d0d;
    padding: 1rem;
}

.item1{
    background-color: #bada55;
    color: #333;
}

.item2{
    background-color: cornflowerblue;
    /* border: none; */
}